<div style="display: none;margin-left: -87px;" id="file_upload">
<div id="files_list"></div>
<%=file_field_tag 'file_1', :id=>"my_file_element"%>
<script>
				var multi_selector = new MultiSelector( document.getElementById( 'files_list' ), 10 );
				multi_selector.addElement( document.getElementById( 'my_file_element' ) );
</script>
</div>