<body class="subpage faq">
<div id="bg-top"></div>
<div id="top">
	<div id="starburst"></div>
	<h2 id="logo" class="ir"><a href="/"><span>CoThink.it</span></a></h2>

	<p id="login-blurb">Already have an account? <a href="/login" title="Log in">Log in.</a></p>
</div>
<div class="content-wrap">
	<div class="box-wrap">
		<div class="box-top"></div>
		<div class="box">
			<h1>Frequently Asked Questions</h1>

			<div class="border-top">
				<p class="question">What is co&middot;think&middot;it?</p>

				<p>co&middot;think&middot;it is a simple web application combining intuitive project management with real time chat for groups</p>

				<p class="question">Can we install co&middot;think&middot;it on our own server?</p>

				<p>co&middot;think&middot;it is only available as a hosted service. We want you to be able to access co&middot;think&middot;it anytime and anywhere you have Internet access.</p>

				<p class="question">What's the difference between Administrators, Team Members, and Guests?</p>

				<p>Guests can only view the project and download files, but can't participate in chats or add comments, tasks, to-do, or posts. Team Members can participate in chats, add comments, tasks, to-do, and posts.  Administrators can do everything team members can and delete projects they own and invite and kick team members.</p>
			</div>

			<h3>Privacy and Security</h3>
			<div class="border-top">

				<p class="question">Do you read our chats?</p>

				<p>We absolutely do not read your chats. If you have other questions about privacy, check out our privacy policy.</p>

				<p class="question">Is co&middot;think&middot;it secure?</p>

				<p>All projects are SSL secure and password protected.</p>

				<p class="question">Is our data backed up in case of an emergency?</p>

				<p>Data is backed up daily.</p>

			</div>
			<h3>Accounts</h3>

				<div class="border-top">

				<p class="question">How much does co&middot;think&middot;it cost? Is there a free plan?</p>

				<p>co&middot;think&middot;it has a range of plans that start with a free 'Trial Plan' and increase as your projects need higher storage or transfer limits (check out the bottom of the homepage for the complete pricing chart). When you first sign up for co&middot;think&middot;it, we automatically enroll you in the free plan. We want you to be able to experience co&middot;think&middot;it, before you decide if you want to pay for the service.</p>

				<p class="question">Are there any hidden fees we should know about?</p>

				<p>Nope.</p>

				<p class="question">How does your refund policy work?</p>

				<p>co&middot;think&middot;it is a pay-as-you-go service so we don't provide refunds &ndash; it saves us from headaches and time, which allows us to constantly improve our services and your co&middot;think&middot;it experience.</p>

				<p>You are billed every 30 days for the service. You can cancel the service at any time and you won't be charged again. You are, however, responsible for whatever charges have been incurred. In order to treat everyone equally, no exceptions will be made.</p>

				<p class="question">What if we upgrade or downgrade in the middle of the month?</p>

				<p>When you upgrade or downgrade, you are instantly upgraded or downgraded to the new plan. The new monthly rate begins at the start of your next billing cycle.</p>

				<p class="question">How do we update or change our credit card?</p>

				<p>The account owner can change the credit card used for monthly billing by clicking on the &ldquo;Edit Account&rdquo; from the settings drop-down menu.</p>

				<p class="question">How do we upgrade or downgrade?</p>

				<p>Just click on the &ldquo;Edit Account&rdquo; tab from the settings drop-down menu and you'll see your options at the top of the page.</p>

				<p class="question">Why can't I downgrade on the Account screen? I only see upgrade options, not downgrade options.</p>

				<p>You can only downgrade to a level that can handle your current storage and transfer usage.</p>

				<p class="question">How does the 30-day free trial work?</p>

				<p>When you join co&middot;think&middot;it for the first time, you are given a 30-day period to try services and enrolled in the Trial plan.</p>

				<p>At the end of the 30 days, if you have created projects that exceed the limits of Trial plan, we'll ask you to upgrade and pay for a plan that covers your storage and transfer usage. </p>

				<p>If you choose not to upgrade, access to the projects you created will be suspended and eventually deleted if you decide not to upgrade..</p>
			</div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
<%= render :partial=>'/layouts/front_footer'%>
</body>
