<li class="no-icon">
<% if @email_notification.blank? %>
<%=link_to_remote "Subscribe from this list",{:url =>subscribe_and_unsubscribe_task_path(@project.url,@project,@task,:subscribe=>true)}%>
<% else %>
<%=link_to_remote "Unsubscribe from this list",{:url =>subscribe_and_unsubscribe_task_path(@project.url,@project,@task,:subscribe=>false)}%>
<% end %>
</li>

