html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
body{font:13px/1.5 Arial,'Liberation Sans',FreeSans,sans-serif;}
a:focus{outline:1px dotted invert}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
body, select, input, button, textarea{font-family:'museo-sans-1', 'museuo-sans-2', Arial,'Liberation Sans',FreeSans,sans-serif;font-size:14px;font-weight:300;line-height:24px;}
body{background:#212a31 url('../images/front/layout/dark-bg.jpg') repeat top left;color:#292d30;position:relative;min-width:960px;}
strong{color:#292d30;font-weight:700;}
a:link, a:visited{color:#095e9d;text-decoration:none;}
a:hover{text-decoration:underline;}
* html .clear{height:1%}
h1, h2, h3, h4, h5{color:#292d30;font-family:'museo-1', 'museuo-2', 'Lucida Grande', Arial,'Liberation Sans',FreeSans,sans-serif;padding:15px 0 5px 0;}
h1, h2, h3, h4{font-size:26px;font-weight:700;text-shadow:#fff 0 1px 1px;}
h3{font-size:22px;padding-bottom:15px;}
h4{font-size:16px;margin-bottom:15px;}
p{padding-bottom:10px;font-weight:300;}
.no-bottom-p{padding-bottom:0;}
.no-top-p{padding-top:0;}
.f-lft{float:left}
.f-rgt{float:right}
.clear{clear:both}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.hidden{visibility:hidden;}
.clickable{cursor:pointer;}
.ir span{display:none;}
.ir a{color:transparent;display:block;height:100%;width:100%;}
.btn-47, .btn-72, .btn{text-indent:-1000px;line-height:0px;font-size:0px;cursor:pointer;border:0;padding:0;height:28px;background-repeat:no-repeat;background-color:transparent;overflow:hidden;display:block;}
.btn:hover{background-position:0 -28px;}
.btn:active{background-position:0 -56px;}
.btn-47{height:47px;}
.btn-47:hover{background-position:0 -47px;}
.btn-47:active{background-position:0 -94px;}
.btn-72{height:72px;}
.btn-72:hover{background-position:0 -72px;}
.btn-72:active{background-position:0 -144px;}
#bg-top{position:absolute;top:0;left:0;width:100%;z-index:0;background:#fff url('../images/front/layout/bg-top-sub.jpg') repeat-x top left;height:482px;}
#starburst{position:absolute;z-index:1;top:60px;left:50%;width:661px;height:166px;margin-left:-590px;background:transparent url('../images/front/layout/starburst.png') no-repeat top left;}
.content-wrap{position:relative;z-index:1;width:100%;overflow:hidden;margin:0 auto;}
.wrap-940{width:940px;margin:0 auto;}
#top{position:relative;z-index:200;height:59px;width:940px;margin:0 auto;}
#logo{position:absolute;z-index:100;top:10px;left:10px;height:74px;width:449px;padding:0;margin:0;}
#logo a{display:block;height:74px;width:449px;background:transparent url('../images/front/layout/logo.png') no-repeat top left;padding:0;margin:0;}
#login-blurb{font-size:14px;position:absolute;z-index:1;top:18px;right:0;color:#fafafa;font-weight:700;text-shadow:#000 0 -1px 1px;}
#top #login-blurb a{color:#fafafa;text-decoration:underline;}
#top #login-blurb a:hover{text-decoration:none;}
#footer{background:transparent url('../images/front/layout/footer-bg.jpg') repeat-x top left;position:relative;height:59px;}
#copy-stamp{float:left;padding-top:17px;color:#737b83;font-weight:700;text-shadow:#000 0 -1px 1px;}
#footer ul{float:right;overflow:hidden;padding-top:17px;}
#footer ul li{float:left;margin-left:15px;}
#footer ul li a{color:#fafafa;font-weight:700;text-shadow:#000 0 -1px 1px;text-decoration:none;}
.homepage #bg-top{background:#fff url('../images/front/home/bg-top-home.jpg') repeat-x top left;height:485px;}
.homepage #banner{position:relative;left:-535px;margin-left:50%;z-index:1;height:355px;width:1070px;overflow:hidden;padding-top:60px;background:transparent url('../images/front/home/banner.jpg') no-repeat bottom left;}
.homepage #banner .content-wrap{position:absolute;z-index:50;top:0;left:50%;width:470px;height:305px;padding-top:61px;}
.homepage #banner h2, .homepage #banner p{margin-left:38px;margin-right:25px;}
.homepage #banner h2{padding:20px 0 15px 0;}
.homepage #banner p{color:#4b5357;font-size:18px;line-height:26px;font-weight:500;text-shadow:#fff 0 1px 1px;}
.homepage #banner .try-free-btn{position:absolute;z-index:100;top:235px;left:50%;margin-left:-145px;width:289px;background-image:url('../images/front/buttons/try-free-btn.png');}
.features{background:#c8d3d5 url('../images/front/home/features-bg.jpg') repeat top left;width:100%;overflow:hidden;margin:0 auto;}
.features h3{padding-top:25px;}
.features ul{width:960px;margin:0 auto;}
.features ul li{display:block;float:left;width:300px;margin:0 10px;padding-bottom:30px;height:200px;color:#4b5357;font-weight:500;text-shadow:#fff 0 1px 1px;}
.features ul li img{background-color:#fff;padding:5px;border:#afbdc9 1px solid;-moz-border-radius:5px;-webkit-border-radius:5px;}
#plans{position:relative;}
#starburst-wide{position:absolute;top:9px;left:50%;margin-left:-662px;z-index:80;width:1324px;height:220px;background:transparent url('../images/front/layout/starburst-wide.png') no-repeat top left;}
#plans .table-wrap{position:relative;left:-553px;margin-left:50%;z-index:2;width:1106px;height:405px;background:transparent url('../images/front/boxes/table-box.png') no-repeat top left;}
#plans table{width:938px;margin-left:84px;}
#plans table th{padding:13px 0;font-size:16px;font-weight:700;text-shadow:#fff 0 1px 1px;}
#plans table td{width:143px;height:20px;padding:7px 0;border-left:1px solid #dfe5ea;text-align:center;color:#4b5357;font-size:16px;font-weight:500;}
#plans table td.check{background:transparent url('../images/front/buttons/check.png') no-repeat center center;}
#plans table td.feature{padding-left:40px;padding-right:40px;border-left:none;text-align:left;}
#plans table tr.price-row td{border-top:1px solid #dfe5ea;border-bottom:1px solid #dfe5ea;font-size:16px;font-weight:900;}
.sign-up-btn{position:absolute;z-index:100;top:375px;left:50%;margin-left:-104px;width:208px;background-image:url('../images/front/buttons/sign-up-btn.png');}
#home-foot{position:relative;z-index:200;height:545px;width:100%;overflow:hidden;margin:0 auto;background:#768088 url('../images/front/home/home-footer-bg.jpg') repeat-x top left;}
#home-foot h3{padding-top:30px;text-shadow:#9f9f9f 0 1px 1px;}
.homepage #footer{position:absolute;z-index:101;bottom:0;height:59px;width:100%;}
