<body class="dialog resetpass">
		<div id="bg-top"></div>
		<div id="top">
			<div id="starburst"></div>
			<h2 id="logo" class="ir"><a href="/"><span>CoThink.it</span></a></h2>
			<p id="login-blurb">Already have an account? <a href="/login" title="Log in">Log in.</a></p>
		</div>
		<div class="content-wrap">
			<div class="box-wrap">
				<div class="box">
					<h1>Set a new password</h1>
					<%form_remote_tag :url=>change_password_path(@user) do %>
						<% field_set_tag '', :class=>"share-line" do %>
							<label>Password</label>
              <div class="input-wrapper text-wrapper ">
                <div class="box-top-left"></div>
                <div class="box-top"></div>
                <div class="box-top-right"></div>
                <div class="box-body">
                  <%=password_field :user,:password, :onclick=>"this.value=''" %>
                </div>
                <div class="box-bottom-left"></div>
                <div class="box-bottom"></div>
                <div class="box-bottom-right"></div>
              </div>
              <label>Confirm</label>
              <div class="input-wrapper text-wrapper ">
                <div class="box-top-left"></div>
                <div class="box-top"></div>
                <div class="box-top-right"></div>
                <div class="box-body">
                  <%=password_field :user,:password_confirmation, :onclick=>"this.value=''" %>
                </div>
                <div class="box-bottom-left"></div>
                <div class="box-bottom"></div>
                <div class="box-bottom-right"></div>
              </div>
            <%= submit_tag "Reset Password", :class=>"btn-47 reset-btn" ,:onclick=>"return check_valid();" %> 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>