<div id="searchbar" class="right-col">
  <form id="search-box" class="searchform" action="#">
    <div>
      <input id="search" value="Search CoThink.it..." onclick="this.value=''" type="text" name="q" size="31" />
      <input id="submit-search" class="clickable" type="submit" value="Search" name="sa" />
    </div>
  </form>
</div>