<div class="zerostate">
  <div class="zero zero-chat">
    <h2>Welcome to co&middot;think&middot;it!</h2>
    <div class="zero-icon-project"></div>
    <p>Start using co&middot;think&middot;it for managing and collaborating on all your projects.</p>
    <ul>
      <li>
        <%=link_to "Create your first project",new_project_path,:class=>"zero-arrow"%>
      </li>
    </ul>
  </div>
</div>