
<body class="dialog login">
<div id="bg-top"></div>
<div id="top">
  <div id="starburst"></div>
    <h2 id="logo" class="ir"><a href="/"><span>CoThink.it</span></a></h2>
  </div>
  <div class="content-wrap">
    <div class="box-wrap">
      <div class="box">
        <h1  style="margin-top:40px;font-size:20px;margin-bottom:40px;">Sorry the page you were looking does not exist</h1>
					<a href="javascript:history.back();" >Back</a>
      </div>
    </div>
  </div>
</body>

