<% if controller_name=="chat" %>
<div class="upload-meter f-lft command-alt" style="background-position: -128px 3px;display:none; margin-left:255px;" id="progress">
  <div class="upload-meter-marker"></div>
</div>
<div class="upload-label command-alt" id="progress_status" style="margin-left:390px;"></div>
<% else %>
<div class="upload-meter f-lft command-alt" style="background-position: -128px 3px;display:none;" id="progress">
  <div class="upload-meter-marker"></div>
</div>
<div class="upload-label command-alt" id="progress_status"></div>
<% end %>
