 <div class="zerostate" id="chat_zero_state" style="<%=(@chats.empty? && @today_chats.empty?) ? "" : "display:none;"%>">
            <div class="zero zero-chat">
              <h2>Start your first co&middot;think&middot;it chat</h2>
              <div class="zero-icon-chat"></div>
              <p>Chat sessions with your team are a great way to discuss, brainstorm, cothink, and jump-start your project.</p>
              <ul><li><a class="zero-arrow" href="javascript:show_chat();">Start your first chat</a></li></ul>
            </div> <!--zero -chat -->
          </div> 