<div style="display:none"  id="history_display_<%=comment.id%>">
<ul >
	<%comment.history_posts.each do |history|%>
		<li><%=history.user.first_name%> <%=history.action%>  - <i><%=time_ago_in_words(history.created_at) + " ago"%> </i></li>
	<%end%>	
</ul>
</div>


