<div id="footer" class="width-wrapper">
	<p class="left-col">Managed <em>with</em> <%=link_to "co&middot;think&middot;it",root_path(:source => "base")%></p>
	<div id="topbutton"><a href="#masthead">Top</a></div>
</div>