<div id="footer">
	<div class="wrap-940">

		<p id="copy-stamp">co&middot;think&middot;it &copy; 2010</p>
		<ul>
			<li><a href="/login" title="Login" >Login</a></li>
			<li><a href="http://blog.cothinkit.com/" title="Blog" >Blog</a></li>
			<li><a href="/faq" title="FAQ" >FAQ</a></li>

			<li><a href="/terms" title="Terms of Use" >Terms of Use</a></li>
			<li><a href="/privacy" title="Privacy" >Privacy</a></li>
		</ul>
	</div>
</div>