<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<% ctrlr = controller.controller_name %>
<% acn = controller.action_name %>
	<title><%= title(ctrlr,acn)%></title>
	<meta name="robots" content="INDEX,FOLLOW" />
	<%= stylesheet_link_tag 'front'%>		
	<!--<link rel="stylesheet" href="/stylesheets/front.css" type="text/css" media="screen" /> -->

	<%= javascript_include_tag 'prototype','application' %>	

	<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
	<![endif]-->
	<script type="text/javascript" src="https://use.typekit.com/kho4jtx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="shortcut icon" href="http://cti-asset1.s3.amazonaws.com/images/favicon.ico" />
</head>

<%=yield %>

</html>

